# Cisco Sandbox Configuration
DEVICE_HOST=sandbox-iosxe-recomm-1.cisco.com
DEVICE_PORT=443
DEVICE_USER=developer
DEVICE_PASS=C1sco12345

# SMTP Alerting Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_SENDER=projectalarmbot@gmail.com
EMAIL_PASS=your_16_character_app_password_here
EMAIL_RECEIVER=your_destination_email@domain.com